<div class="topbar clearfix" *ngIf="!app.isDesktop()">
    <div class="topbar-right ui-fluid ui-g">
           <a routerLink="/" class="menu-button lg-hidden" *ngIf="app.isStatic()">
            <i class="fa fa-arrow-left"></i>
            </a>
        <div class="logo">
            <img class="" src="assets/implementacion/images/logo.png" alt="">
        </div>       
        <div class="btns lg-hidden">
            <div class="topbar-bandera">
                <img class="flag" src="assets/implementacion/images/flag-{{locale}}.png" alt="" (click)="flagPanel.toggle($event)">
                <p-overlayPanel appendTo="body" #flagPanel>
                    <ng-template pTemplate>
                        <div class="flag-wrapper"
                        (click)="setLocale('en')">
                            <img class="flag" src="assets/implementacion/images/flag-en.png" alt="">
                            English
                        </div>
                        <div class="flag-wrapper"
                        (click)="setLocale('es')">
                            <img class="flag" src="assets/implementacion/images/flag-es.png" alt="">
                            Español
                        </div>
                    </ng-template>
                </p-overlayPanel>
            </div>
        </div>       
    </div>
    <div class="topbar-submenu" *ngIf="app.menuVisible">
        <mat-button-toggle-group name="section" aria-label="Section" class="menu" >
            <mat-button-toggle (click)="navigate('excursiones')"  value="italic" [ngClass]="{'active':isActive('excursiones')}">
                <img src="assets/implementacion/images/menu excursiones.svg" />
                {{'EXCURSIONES' | translate}}
            </mat-button-toggle>
            <mat-button-toggle (click)="navigate('traslados')"  value="underline" [ngClass]="{'active':isActive('traslados')}">
                <img src="assets/implementacion/images/menu traslado.svg" />
                {{'TRASLADOS' | translate}}
            </mat-button-toggle>
          </mat-button-toggle-group>
    </div>
</div>
<div class="topbar clearfix" *ngIf="app.isDesktop()">
    <div class="topbar-right">
        <div class="logo">
            <img class="" src="assets/implementacion/images/logo-merenba-tour-white1.png" alt="">
        </div>       
        <div class="topbar-submenu">
            <mat-button-toggle-group name="section" aria-label="Section" class="menu" >
                <mat-button-toggle (click)="navigate('excursiones')"  value="italic" [ngClass]="{'active':isActive('excursiones')}">
                    <img src="assets/implementacion/images/menu-excursiones-white.svg" />
                    {{'EXCURSIONES' | translate}}
                </mat-button-toggle>
                <mat-button-toggle (click)="navigate('traslados')"  value="underline" [ngClass]="{'active':isActive('traslados')}">
                    <img src="assets/implementacion/images/menu-traslado-white.svg" />
                    {{'TRASLADOS' | translate}}
                </mat-button-toggle>
              </mat-button-toggle-group>
        </div>
    </div>
    <div class="btns">
        <div *ngIf="app.usuario">
            <a
            (click)="userPanel.toggle($event)"
            class="topbar-user">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                {{ app.usuario?.nombreCompleto }}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <p-overlayPanel appendTo="body" #userPanel>
                <ng-template pTemplate>
                    <div class="user-panel">
                        <a (click)="userPanel.hide($event)" routerLink="/mis-reservas">
                            <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                            {{ 'MIS_RESERVAS' | translate }}
                        </a>
                    </div>
                    <div class="user-panel">
                        <a (click)="logout()">
                            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
                            {{ 'CERRAR_SESION' | translate }}
                        </a>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </div>
        <div class="topbar-no-user" *ngIf="!app.usuario">
            <a
            (click)="nonuserPanel.toggle($event)"
            class="cart">
                {{ 'MI_CUENTA' | translate }}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <p-overlayPanel appendTo="body" #nonuserPanel>
                <ng-template pTemplate>
                    <div class="user-panel">
                        <a (click)="nonuserPanel.hide($event)" routerLink="/login">
                            <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
                            {{ 'INICIAR_SESION' | translate }}
                        </a>
                    </div>
                    <div class="user-panel">
                        <a (click)="nonuserPanel.hide($event)" routerLink="/mi-reserva">
                            <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                            {{ 'MI_RESERVA' | translate }}
                        </a>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </div>
        <div>
            <img class="flag" src="assets/implementacion/images/flag-{{locale}}.png" alt="" (click)="flagPanel.toggle($event)">
            <p-overlayPanel appendTo="body" #flagPanel>
                <ng-template pTemplate>
                    <div class="flag-wrapper"
                    (click)="setLocale('en')">
                        <img class="flag" src="assets/implementacion/images/flag-en.png" alt="">
                        English
                    </div>
                    <div class="flag-wrapper"
                    (click)="setLocale('es')">
                        <img class="flag" src="assets/implementacion/images/flag-es.png" alt="">
                        Español
                    </div>
                </ng-template>
            </p-overlayPanel>
        </div>
    </div>       
</div>