<div class="p-grid p-nogutter p-justify-between footer footer-desktop" *ngIf="app.isDesktop()">
    <div class="p-col">
        <div class="p-grid p-dir-col">
                <h3>{{ 'MERENBA' | translate }}</h3>
                <a routerLink="nosotros">{{ 'SOBRE_NOSOTROS' | translate }}</a>
                <a routerLink="republica-dominicana">{{ 'SOBRE_RD' | translate }}</a>
                <a href="https://www.tripadvisor.com.ar/Attraction_Review-g147293-d16668918-Reviews-Merenba_Tour_Operador-Punta_Cana_La_Altagracia_Province_Dominican_Republic.html?m=19905" target="_blank">
                    {{ 'OPINIONES_CLIENTES' | translate }} <br>
                    <img class="trip-img" src="assets/implementacion/images/tripadvisor-merenbatour.png">
                </a>
        </div>
        <div class="p-grid p-dir-col">
            <h3>{{ 'TERMINOS_CONDICIONES' | translate }}</h3>
            <a routerLink="politica-entrega">{{ 'POLITICAS_ENTREGA' | translate }}</a>
            <a routerLink="politica-privacidad">{{ 'POLITICAS_PRIVACIDAD' | translate }}</a>
            <a routerLink="politica-devolucion">{{ 'POLITICAS_DEVOLUCION' | translate }}</a>
            <a routerLink="aviso-legal">{{ 'AVISO_LEGAL' | translate }}</a>
        </div>
    </div>
    <div class="p-col">
        <div class="p-grid p-dir-col">
            <h3>{{ 'FORMAS_PAGO' | translate }}</h3>
            <h4>{{ 'TARJETAS_CREDITO' | translate }}</h4>
            <div class="p-col col-img">
                <img class="payment" src="assets/implementacion/images/visa.png">
                <img class="payment" src="assets/implementacion/images/master.png">
                <img class="payment" src="assets/implementacion/images/cabal.png">
                <img class="payment" src="assets/implementacion/images/Diners.png">
            </div>
        </div>
        <div class="p-grid p-dir-col">
            <a routerLink="/pagoazul">
                <h4>{{ 'PAGO_MANUAL' | translate }}</h4>
                <p>{{ 'BANCO_AZUL' | translate }}</p>
                <div class="p-col col-img">
                    <img class="payment" src="assets/implementacion/images/azul.PNG">
                </div>
            </a>
            <p>{{ 'PAYPAL' | translate }}</p>
                <div class="p-col col-img">
                    <!-- <img class="payment" src="assets/implementacion/images/paypal.PNG"> -->
                    <form
                    #paypal
                    (ngSubmit)="onSubmit()"
                    action="https://www.paypal.com/cgi-bin/webscr"
                    method="post"
                    target="_top">
                        <input name="cmd" type="hidden" value="_s-xclick">
                        <input name="hosted_button_id" type="hidden" value="V3M95RBR8UCLG"><br>
                        <input alt="PayPal - The safer, easier way to pay online!" name="submit" class="paypal-img" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" type="image"></form>
                </div>
        </div>
    </div>
    <div class="p-col">
        <div class="p-grid p-dir-col">
            <h3>{{ 'CONTACTO' | translate }}</h3>
            <p> Merenba Tour Operador </p>
            <p>
                <img  class="footer-icon" src="assets/implementacion/images/tel.svg">
                Tel: +1-829-305-5988 / +1-849-635-5988 <img class="footer-icon footer-icon-whatsapp" src="assets/implementacion/images/whatsapp.svg">
            </p>
            <p>
                    +1-809-552-6844 ({{ 'HORARIO_OFICINA' | translate }})
            </p>
            <p>
                    <img  class="footer-icon" src="assets/implementacion/images/email.svg"> Email: <a class="email" href="mailto:ventas@merenbatour.com">ventas@merenbatour.com</a> / <a class="email" href="mailto:ventas2@merenbatour.com">ventas2@merenbatour.com</a>
            </p>
            <p class="address">
                Plaza Victoriana Local 214 Avenida Italia <br>
                Bávaro Punta Cana - República Dominicana
            </p>
            <div class="p-col col-img">
                <img src="assets/implementacion/images/mapa.PNG">
            </div>
        </div>
    </div>
    <div class="floating-social">
        <a href="https://www.facebook.com/merenbatouroperadora" target="_blank">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/merenbatouroperador" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true" pTooltip="{{ 'SEGUIR_INSTAGRAM' | translate }}"></i></a>
        <!-- <i class="fa fa-whatsapp fa-2x" aria-hidden="true" (click)="openWhatsapp()"></i> -->
    </div>
</div>

<div class="p-grid footer footer-mobile" *ngIf="!app.isDesktop()">
    <div class="p-col-12">
        <mat-accordion
        class="accordion"
        multi="true"
        displayMode="flat">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'MERENBA' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="p-grid p-dir-col">
                  <a routerLink="nosotros">{{ 'SOBRE_NOSOTROS' | translate }}</a>
                  <a routerLink="republica-dominicana">{{ 'SOBRE_RD' | translate }}</a>
                  <a href="https://www.tripadvisor.com.ar/Attraction_Review-g147293-d16668918-Reviews-Merenba_Tour_Operador-Punta_Cana_La_Altagracia_Province_Dominican_Republic.html?m=19905" target="_blank">{{ 'OPINIONES_CLIENTES' | translate }}</a>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'TERMINOS_CONDICIONES' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="p-grid p-dir-col">
                <a routerLink="politica-entrega">{{ 'POLITICAS_ENTREGA' | translate }}</a>
                <a routerLink="politica-privacidad">{{ 'POLITICAS_PRIVACIDAD' | translate }}</a>
                <a routerLink="politica-devolucion">{{ 'POLITICAS_DEVOLUCION' | translate }}</a>
                <a routerLink="aviso-legal">{{ 'AVISO_LEGAL' | translate }}</a>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'FORMAS_PAGO' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="p-grid p-dir-col">
                <h4>{{ 'TARJETAS_CREDITO' | translate }}</h4>
                <div class="p-col col-img">
                    <img class="payment" src="assets/implementacion/images/visa.png">
                    <img class="payment" src="assets/implementacion/images/master.png">
                    <img class="payment" src="assets/implementacion/images/cabal.png">
                    <img class="payment" src="assets/implementacion/images/Diners.png">
                </div>
            </div>
            <div class="p-grid p-dir-col">
                <a routerLink="/pagoazul">
                    <h4>{{ 'PAGO_MANUAL' | translate }}</h4>
                    <p>{{ 'BANCO_AZUL' | translate }}</p>
                    <div class="p-col col-img">
                        <img class="payment" src="assets/implementacion/images/azul.PNG">
                    </div>
                </a>
                <p>{{ 'PAYPAL' | translate }}</p>
                    <div class="p-col col-img">
                        <form
                        #paypal
                        (ngSubmit)="onSubmit()"
                        action="https://www.paypal.com/cgi-bin/webscr"
                        method="post"
                        target="_top">
                            <input name="cmd" type="hidden" value="_s-xclick">
                            <input name="hosted_button_id" type="hidden" value="V3M95RBR8UCLG"><br>
                            <input alt="PayPal - The safer, easier way to pay online!" name="submit" class="paypal-img" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" type="image"></form>
                        <!-- <img class="payment" src="assets/implementacion/images/paypal.PNG"> -->
                    </div>
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'CONTACTO' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="p-grid p-dir-col">
                <p> Merenba Tour Operador </p>
                <p>
                    <img  class="footer-icon" src="assets/implementacion/images/tel.svg">
                    Tel: +1-829-305-5988 / +1-849-635-5988 <img class="footer-icon footer-icon-whatsapp" src="assets/implementacion/images/whatsapp.svg">
                </p>
                <p>
                        +1-809-552-6844 ({{ 'HORARIO_OFICINA' | translate }})
                </p>
                <p>
                        <img  class="footer-icon" src="assets/implementacion/images/email.svg"> Email: <a class="email" href="mailto:ventas@merenbatour.com">ventas@merenbatour.com</a> / <a class="email" href="mailto:ventas2@merenbatour.com">ventas2@merenbatour.com</a>
                </p>
                <p class="address">
                    Plaza Victoriana Local 214 Avenida Italia <br>
                    Bávaro Punta Cana - República Dominicana
                </p>
                <div class="p-col col-img">
                    <img src="assets/implementacion/images/mapa.PNG">
                </div>
            </div>
            </mat-expansion-panel>
            <div class="social-row">
                <a href="https://www.facebook.com/merenbatouroperadora" target="_blank">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/merenbatouroperador" target="_blank">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true" pTooltip="{{ 'SEGUIR_INSTAGRAM' | translate }}"></i></a>
            </div>
          </mat-accordion>
    </div>
</div>