@import "../../app.variables.less";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  margin: 2em;
  mat-card {
    flex-basis: 50%;
    button {
      margin: 1em 0;
      display: flex;
      align-items: center;
      i {
        padding-right: 0.5em;
      }
      &.btn-fb {
        background-color: #4267B2;
        &:enabled:hover, &:enabled:focus {
          background-color: #4267B2 !important;
        }
      }
      &.btn-g {
        background-color: #DB4437;
        &:enabled:hover, &:enabled:focus {
          background-color: #DB4437 !important;
        }
      }
    }
  }
  .error {
    color: #DB4437;
  }
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
}