<div class="wrapper">
  <mat-card>
    <h1>
      {{ 'INICIAR_SESION' | translate }}
    </h1>

    <div class="btn-wrapper">
      <button
      (click)="facebookLogin()"
      pButton
      class="default btn-fb">
        <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
        {{ 'LOGIN_FACEBOOK' | translate }}
      </button>
  
      <button
      (click)="googleLogin()"
      pButton
      class="default btn-g">
        <i class="fa fa-google fa-lg" aria-hidden="true"></i>
        {{ 'LOGIN_GOOGLE' | translate }}
      </button>
    </div>
  </mat-card>
  <h3 *ngIf="isError" class="error fadeIn">
    {{ 'LOGIN_ERROR' | translate }}
  </h3>
</div>