.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    margin: 2em;
    mat-card {
        flex-basis: 50%;
        .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                width: unset;
            }
        }
        .loading-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin:  0.5em 0;
            }
        }
        .reserva-content {
            display: flex;
            flex-direction: column;
            h1 {
                align-self: center;
            }
            .text {
                margin: 0 0.5em;
            }
            .text-price {
                font-size: 2.25em;
                color: #993399;
                align-self: center;
            }
            .fa-arrow-right, .fa-map-marker {
                color: #66cc99;
            }
        }
        .p-col-8 {
            border-right: 1px solid rgba(0, 0, 0, .15);
        }
        .estado-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                text-align: center;
            }
            .fa-check-circle-o {
                color: #39C16C;
            }
            .fa-clock-o {
                color: #f0ce26;
            }
            .fa-times-circle-o {
                color: #ff002b;
            }
            button {
                background-color:  #ff002b;
            }
        }
    }
}