<div class="wrapper">
  <mat-card *ngIf="!reserva">
    <div class="card-content" *ngIf="!working">
      <h3> {{ 'CONSULTAR_RESERVA' | translate }} </h3>
      <p>{{ 'INGRESAR_CODIGO' | translate }}</p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'CODIGO_RESERVA' | translate }}</mat-label>
          <input required matInput [(ngModel)]="codigo" >
        </mat-form-field>
        <button pButton class="default tarjeta-boton" (click)="checkReserva()"> {{ 'CONSULTAR' | translate }} </button>
    </div>
    <div class="loading-content" *ngIf="working">
      <mat-spinner></mat-spinner>
      <p>{{ 'CONSULTA_LOADING' | translate }}</p>
    </div>
  </mat-card>
  <mat-card *ngIf="reserva">
    <div class="p-grid">
      <div class="p-col-8">
        <div class="reserva-content" *ngIf="esExcursion">
          <h1>
            <img src="assets/implementacion/images/menu excursiones.svg">
            {{ 'EXCURSION' | translate }}
          </h1>
          <p>
            <span>
              {{ 'PRODUCTO' | translate }}: <strong> {{ producto }} </strong>
            </span>
            <span class="text">
              {{ 'OPCION' | translate }}:  <strong> {{ opcion }} </strong>
            </span>
          </p>
          <p>
            <span>
              <img src="assets/implementacion/images/calendario.svg">
              <strong> {{ fechaDesde | date:"dd/MM/yyyy" }} </strong> 
            </span>
            <span class="text">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <strong> {{ zonaDesde }} </strong>
            </span>
          </p>
          <p>
            {{ 'DATOS_PASAJEROS' | translate }}
          </p>
          <div *ngFor="let pax of pasajeros; let i = index">
            <h4> <img src="assets/implementacion/images/pasajeros.svg"> {{ 'PAX' | translate }} {{ i + 1 }} </h4>
            <p class="pax-text">
              <span>
                <strong>
                  {{ 'NOMBRE' | translate }}:
                </strong>
                 {{ pax.nombre }}
              </span>
              <span>
                <strong>
                  {{ 'APELLIDO' | translate }}:
                </strong>
                 {{ pax.apellido }}
              </span>
            </p>
            <p class="pax-text">
              <span>
                <strong>
                  {{ 'IDENTIFICACION' | translate }}:
                </strong>
                 {{ pax.identificacion }}
              </span>
              <span>
                <strong>
                  {{ 'EDAD' | translate }}:
                </strong>
                 {{ pax.edad }}
              </span>
            </p>
          </div>
          <p class="text-price">
            <strong> $ {{ valorTotal }} </strong> 
          </p>   
        </div>
        <div class="reserva-content" *ngIf="esTraslado">
          <h1>
            <img src="assets/implementacion/images/menu traslado.svg">
            {{ 'TRASLADO' | translate }} - {{ producto }}
          </h1>
          <div *ngIf="!esIdaYVuelta">
            <p>
                <img src="assets/implementacion/images/calendario.svg">
                <strong> {{ fechaDesde | date:"dd/MM/yyyy" }} </strong> 
            </p>
            <p>          
                <img src="assets/implementacion/images/localizacion.svg">
                <strong> {{ zonaDesde }} </strong> {{ 'HASTA' | translate }} <strong> {{ zonaHasta }} </strong>
            </p>
          </div>
          <div *ngIf="esIdaYVuelta">
            <!-- <p>
              Ida
            </p> -->
            <p>
              <span>
                <img src="assets/implementacion/images/calendario.svg">
                <strong> {{ fechaDesde | date:"dd/MM/yyyy" }} </strong> 
              </span>
              <span>
                <strong> {{ zonaDesde }} </strong> <i class="fa fa-arrow-right" aria-hidden="true"></i> <strong> {{ zonaHasta }} </strong>
              </span>
            </p>
            <!-- <p>
              Vuelta
            </p> -->
            <p>
              <span>
                <img src="assets/implementacion/images/calendario.svg">
                <strong> {{ fechaHasta | date:"dd/MM/yyyy" }} </strong> 
              </span>
              <span>
                <strong> {{ zonaHasta }} </strong> <i class="fa fa-arrow-right" aria-hidden="true"></i> <strong> {{ zonaDesde }} </strong>
              </span>
            </p>
          </div>
          <p>
            {{ 'DATOS_PASAJEROS' | translate }}
          </p>
          <div *ngFor="let pax of pasajeros; let i = index">
            <h4> <img src="assets/implementacion/images/pasajeros.svg"> {{ 'PAX' | translate }} {{ i + 1 }} </h4>
            <p class="pax-text">
              <span>
                <strong>
                  {{ 'NOMBRE' | translate }}:
                </strong>
                 {{ pax.nombre }}
              </span>
              <span>
                <strong>
                  {{ 'APELLIDO' | translate }}:
                </strong>
                 {{ pax.apellido }}
              </span>
            </p>
            <p class="pax-text">
              <span>
                <strong>
                  {{ 'IDENTIFICACION' | translate }}:
                </strong>
                 {{ pax.identificacion }}
              </span>
              <span>
                <strong>
                  {{ 'EDAD' | translate }}:
                </strong>
                 {{ pax.edad }}
              </span>
            </p>
          </div>
          <p class="text-price">
            <strong> $ {{ valorTotal }} </strong> 
          </p>   
        </div>
      </div>
      <div class="p-col-4 p-col-align-center">
        <div class="estado-col">
            <i [class]="iconoEstado"></i>
            <h2>
              {{ textoEstado | translate }}
            </h2>
            <button
            *ngIf="estadoReserva !== 'SOLICITUDCANCELACION'"
            pButton
            type="button"
            class="default" 
            (click)="openDialog()">{{ 'SOLICITAR_CANCELACION' | translate }}</button>
        </div>
      </div>
    </div>

  </mat-card>

</div>