<div class="wrapper" *ngIf="reservas.length > 0">
  <h1>
    {{ 'MIS_RESERVAS' | translate }}
  </h1>
  <div class="p-grid p-dir-col">
    <div class="p-col-12" *ngFor="let r of reservas">
      <tarjeta-reserva (onCancelacion)="cancelacion($event)" (onDetalle)="detalle($event)" [reserva]="r"></tarjeta-reserva>
    </div>
    <div class="p-col-6 p-offset-3">
      <button routerLink="/mi-reserva" pButton class="default">
        {{ 'BUSCAR_CODIGO' | translate }}
      </button>
    </div>
  </div>

</div>
<div class="wrapper" *ngIf="reservas.length < 1">
  <h1>
    {{ 'NO_RESERVAS' | translate }}
  </h1>
</div>